a {
  text-decoration: none;
  color: #001614;
}

.alert {
  color: red;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #f00;
}

body {
  background: #428681;
}

.business_listing {
  padding: 1%;
  width: 550px;
  margin: auto;
  text-align: center;
  margin-top: 1%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: #92c7c3;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.drink {
}


.business_name {
  color: #428681;
}

.business_pic {
  width: 150px;
  height: 150px;
}


.login_bar {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1em;
  padding-top: 1%;
}
.favorites {
  width: 90%;
  margin-left: 20%;
  margin-right: 20%;
}

.favorites_list {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1em;
  font-weight: bolder;
  text-decoration: none;
  list-style-type: circle;
  color: #DAF6F4;
  text-align: left;
   margin: 5%;
}

.favorites_user {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  text-align: left;
  margin-right: auto;
}


.fb-button {
  padding-top: 3px;
  display: inline-block;
  padding-bottom: 1px;
  text-decoration: none;
  background: white;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 11px;
  border: 1px solid gray;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
}

.fb-button:hover {
  border: 1px solid red;
}

footer {
  width: 100%;
  display: block;
  padding-top: 30px;
}

.logo{
  width: 100%;
  margin: auto;
  text-align: center;
}

.page_title {
  color: #DAF6F4;
  width: 90%;
  margin:auto;
  font-family: 'Josefin Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 2.5em;
  padding: 10px;
}

.request_form {
  width: 90%;
  text-align: center;
  margin:auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#results {
  display: block;
  width:100%;
  margin: auto;
}

#search_term {
  padding: 10px;
  width: 30%;
  background: #DAF6F4;
  text-align: center;
  border: 2px solid #619F9A;
  margin:auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1em;
}

.static_text {
  color: #C8FAF6;
  margin:auto;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100px;
  font-size: 1em;
  padding-top: 20px;
  padding-bottom: 3px;
  text-align: center;
  font-size: 1.5em;
}

.submit_button {
  margin-top: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: .9em;
  background-color: #92c7c3;
  cursor: pointer;
  border:none;
  padding: 5px;
  text-align: center;
}

.submit_button:hover{
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}


::-moz-selection {
 background-color: #FFA;
 color: #000;
}

::selection {
 background-color: #FFA;
 color: #000;
}

