<form action="/new_request" method="post" class="request_form">
  <input type="text" name="term" id="search_term" placeholder="Moscow Mule?">
  <input type="submit" value="I want to drink this!">
</form>
<div id="results">

  <%= erb :results  %>

</div>
