
<div class="logo">
  <p class="static_text">I really want to drink a...</p>
</div>
<form action="/new_request" method="post" class="request_form">
  <input type="text" name="term" id="search_term" placeholder="Moscow Mule?"><br>
  <input type="submit" class="submit_button" value="Drink this">
</form>
<div class="request_form">
  <button class="submit_button" action="/other_request" method="post" >Pick a drink for me </button>
</div>
<div id="results">
  <% if @user %>
  <%= erb :_favorites, :layout => false  %>
  <% end %>
</div>
<div id="results">
  <%= erb :_results, :layout => false  %>
</div>





