<div class="facebook">
    <% if !session['oauth'][:access_token] %>
      <a class='submit_button' href='/facebook'>facebook login</a>
      <% else %>
      <a class='submit_button' href='/logout'>logout</a>
    <% end %>
</div>
<div class="logo">
  <h1 class="page_title"> Pour Me One </h1>
  <svg height="210" width="150" class="drink">
    <polygon points="0,0, 150,0, 80,60 80,150, 150,160, 0,160, 70,150, 70,60 " style="fill:#DAF6F4;fill-rule:nonzero;"/>
    Sorry, your browser does not support inline SVG.
  </svg>
  <p class="static_text">I really want to drink a...</p>
</div>
<div>
</div>
<form action="/new_request" method="post" class="request_form">
  <input type="text" name="term" id="search_term" placeholder="Moscow Mule?"><br>
  <input type="submit" class="submit_button" value="Drink this">
  <button class="submit_button" action="/other_request" method="post" class="request_form">Pick a drink for me </button>
</form>

<div id="results">
  <%= erb :_results, :layout => false  %>
</div>





