<!DOCTYPE html>
<html lang="en" xmlns:fb="https://www.facebook.com/2008/fbml">
<head prefix="og: http://localhost:9393">
  <link rel="stylesheet" href="/css/application.css">
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <title>PourMeOne</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <meta property="og:title" content="Pour Me One"/>
  <meta property="og:image" content="/PourMeOne.png"/>
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1024">
  <meta property="og:image:height" content="1024">

  <meta property="og:site_name" content="Pour Me One"/>

  <meta property="og:description" content="Find your cocktail. Now."/>
</head>
<body>
  <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
  </div>
  <div class="login_bar">
    <% if !session['oauth'][:access_token] %>
    <a class='submit_button' href='/facebook'>facebook login</a> <span class="static_text">to save your favorite places!</span>
    <% else %>
    <a class='submit_button' href='/logout'>logout</a>
    <a class='submit_button' href='/favorites'>favorites</a>
    <% end %>
  </div>

  <div class="logo">
    <h1 class="page_title"> Pour Me One </h1>
    <svg height="210" width="150" class="drink">
      <polygon points="0,0, 150,0, 80,60 80,150, 150,160, 0,160, 70,150, 70,60 " style="fill:#DAF6F4;fill-rule:nonzero;"/>
      Sorry, your browser does not support inline SVG.
    </svg>
  </div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '450194348463545',
        xfbml      : true,
        version    : 'v2.2'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
<div>
  <%= yield %>
</div>
<footer>

</footer>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="/js/application.js"></script>

</body>
</html>



